.C-Header {
    width: 100%;
    height: 50px;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;

    .logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        img {
            width: 36px;
            height: 36px;
        }
        h1 {
            font-size: 20px;
            font-weight: bold;
            margin-left: 12px;
        }
    }

    .actions {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        .icons {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-right: 10px;
            .icon-btn {
                padding: 10px 6px;
                margin: 0 4px;
                cursor: pointer;
                i {
                    font-size: 20px;
                }
            }
            
        }
        .user {
            padding: 10px;
            cursor: pointer;
        }
    }
}