@charset "utf-8";
.loading{position:fixed;left:0;right:0;top:0;bottom:0;background:rgba(255,255,255,0.7);z-index:9999;}
.loading_spin{position:absolute;left:50%;top:50%;margin-left:-30px;margin-top:-30px;}